body{
    font-family: 'Hind', sans-serif;
    background:#FDDD31;
    color:#212767;
}
header{
    background:#FDDD31;
    color:#212767;
    text-align:center;
    padding:20px 0;
}

nav a{
    color:#212767;
    text-decoration:none;
    margin:50px;
}


#hero{
  background:url('https://raw.githubusercontent.com/sophinie/sophinie.github.io/master/unit_3/images/spam-musubi.png') no-repeat center center scroll #FDDD31;
/*     background-size:cover; */
    height:500px;
}

#contact{
    
}

#section{
    display: inline-block;

}
